
body {
 background-image: url(image.jpg);
 

 
}
.caption {
    font-weight: 600;
}
.box1, .box2 {
    background: rgb(247, 197, 197, 0.6);
    width: 350px;
    padding: 10px;
    border: 2px solid #000;
  margin: auto;
  
}

p {
    text-align: center;
}
    
